
@{
    ViewData["Title"] = "About";
}

<h2>About</h2>

<h3>This page.</h3>
<p>A webshop but it doesn't really work because it's just a project for an assignment. But atleast the things that should work might work.</p>

<h3>Me</h3>
<p>Nothing to say.</p>
