@using System.Linq;

@model List<SeeSharpWebshop.Project.Core.Models.CartModel>
@{
    ViewData["Title"] = "Complete Purchase";
}

<h2>CompletePurchase</h2>
<table class="table table-striped table-hover">
    <tr>
        <td><b>Product</b></td>
        <td><b>Amount</b></td>
        <td><b>Price</b></td>
    </tr>
    @foreach (var thing in Model)
    {
        <tr>
            <td>@thing.Name</td>
            <td>@thing.Amount</td>
            <td>@thing.Price kr</td>
        </tr>
    }
    <tr class="info">
        <td><b>Total: </b></td>
        <td></td>
        <td>@Model.Select(item => item.Price * item.Amount).Sum() kr</td>
    </tr>
</table>
<form method="post">
    <div class="form-group">
        <label for="input_name">Name</label>
        <input name="name" type="text" class="form-control" id="input_name" placeholder="Name">
    </div>
    <div class="form-group">
        <label for="input_address">Address</label>
        <input name="address" type="text" class="form-control" id="input_address" placeholder="Address">
    </div>
    <div class="form-group">
        <label for="input_name">Zipcode</label>
        <input name="zipcode" type="text" class="form-control" id="input_zipcode" placeholder="Zipcode">
    </div>
    <div class="form-group">
        <label for="input_name">City</label>
        <input name="city" type="text" class="form-control" id="input_city" placeholder="City">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>