@model List<SeeSharpWebshop.Project.Core.Models.ProductModel>
@{
    ViewData["Title"] = "Home Page";
}

<h2>HERE WILL BE SHOP SOON, BE PATIENCE PLEES!</h2>
<div class="row">
    @Html.Partial("_Products")
</div>